*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    vertical-align: middle;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.main{
    display: flex;
}
.common_headding{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #2d3033;
    text-transform: uppercase;
}
.common_pera{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #6c7279;
}
/* ===================
      comon css end
====================== */
#main-menu{
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
}
#main-menu .logo{
    width: 20%;
}
#main-menu .menu-list{
    width: 80%;
}
#main-menu .menu-list ul{
    display: flex;
    justify-content: end;
}
#main-menu .menu-list ul li a{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    margin-left: 60px;
    text-transform: uppercase;
    transition: all linear .4s;
}
#main-menu .menu-list ul li a:hover{
    color: #4feb3b;
}
/* ===================
      menu-part css end
====================== */

#banner-part{
    background: url(../images/banner.jpg) no-repeat center;
    background-size: cover;
    padding-top: 255px;
    padding-bottom: 155px;
    text-align: center;
}
#banner-part h1{
    width: 880px;
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    font-weight: 700;
    line-height: 71px;
    color: #fff;
    margin: 0 auto;
    text-transform: uppercase;
}
#banner-part p{
    width: 917px;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    color: #fff;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 77px;
}
#banner-part a{  
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    margin: 0 auto;
   padding: 18px 55px;
   background-color: #e84545;
   text-transform: uppercase;
   transition: all linear .4s;
}
#banner-part a:hover{
    color: #2b2b2b;
    background-color: #3ca72d;
}
/* ===================
      banner css end
====================== */

#features-part{
    margin-top: 120px;
    margin-bottom: 45px;
}
#features-part .main{
    flex-wrap: wrap;
    justify-content: space-between;
}
#features-part .item{
    width: 370px;
    margin-bottom: 75px;
    text-align: center
}
#features-part .item h3{
    margin-top: 34px;
    margin-bottom: 25px;
}
#features-part .item p{
    width: 296px;
    margin: 0 auto;
}
/* ===================
      features css end
====================== */
#work_part .main{
    flex-wrap: wrap;
}

#work_part .item{
    width: 25%;
    position: relative;
}

#work_part .item img{
    width: 100%;
}

#work_part .item .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(232, 69, 69, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: scale(0)rotate(-360deg);
    transition: all linear .5s;
}
#work_part .item .overlay .text h4{
    color: #fff;
}
#work_part .item .overlay .text p{
    color: #fff;
    margin-top: 5px;
}

#work_part .item:hover .overlay{
    transform: scale(1)rotate(0deg);
}

/* ===================
      work-part css end
====================== */

#team-part{
    margin-top: 100px;
    margin-bottom: 110px;
}
#team-part .main{
    display: flex;
}
#team-part .main .item{
    width: 270px;
    justify-content: space-between;
    border: 3px solid #f9f9f9;
    margin-left: 25px;
}
#team-part .main .item img{
    width: 100%;
}
#team-part .main .item h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #2d3033;
    text-transform: capitalize;
    margin-top: 30px;
    margin-bottom: 10px;
}
#team-part .main .item .text h5{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    color: #e84545;
    text-transform: uppercase;
}
#team-part .main .item p{
    margin-top: 35px;
    margin-bottom: 40px;
    width: 260px;
}
#team-part .main .item .icon{
    width: 100%;
}
#team-part .main .item .icon a i{
    width: 30px;
    height: 30px;
    border: 2px solid black;
    text-align: center;
    line-height: 30px;
}
/* ===================
      team-part css end
====================== */
#seo-part .img{
    width: 50%;
}
#seo-part .img img{
    width: 100%;
}
#seo-part .text{
    width: 50%;
    background: #53354a;
    position: relative;
}
#seo-part .text .sms{
    font-family: 'Cardo', serif;
    font-size: 36px;
    line-height: 42px;
    font-style: italic;
    color: #fff;
    width: 555px;
    margin-top: 122px;
    margin-left: 85px;
}
#seo-part .text .name{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 32px;
    margin-left: 85px;
}
#seo-part .text .golla{
    position: absolute;
    bottom: 104px;
    left: 289px;
    display: flex;
}
#seo-part .text .golla .round-1{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.20);
    margin-right: 8px;
}
#seo-part .text .golla .round-2{
    background: #fff;
}
/* ===================
      seo css end
====================== */
#download-part .container .main{
    margin: 100px 270px;
}
#download-part .container .main .text h3{
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    line-height: 21px;
    color: #2d3033;
    font-weight: 300;
}
#download-part .container .main .text p{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    line-height: 21px;
    color: #2d3033;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-top: 24px;
    margin-bottom: 42px;
}
#download-part .container .main a {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    line-height: 21px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #e84545;
    padding: 18px 85px;
    margin: 0 170px;
    transition: all linear .4s;
    
}
#download-part .container .main a:hover{
    background-color: #3945ec;
}
/* ===================
      download css end
====================== */
#about-part{
    width: 100%;
    background: #3a3e64;
}
#about-part .container .main{
    display: flex;
}
#about-part .container .main .item{
    width: 370px;
    margin-top: 70px;
    margin-bottom: 85px;
    text-align: center;
}
#about-part .container .main .item h3{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
#about-part .container .main .item p{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 22.5px;
    font-weight: 400;
    color: #fff;
    width: 153px;
    margin: 0 auto;
}
#about-part .main .item .icon{
    width: 100%;
}
#about-part .main .item .icon a i{
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    text-align: center;
    line-height: 30px;
    color: #fff;
}
#about-part .container .main .item .cms{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 22.5px;
    font-weight: 400;
    color: #fff;
    width: 340px;
    margin: 0 auto;
}
/* ===================
      about css end
====================== */
#copyright-part{
    width: 100%;
    height: 100px;
    background: #313454;
}
#copyright-part .container .main{
    width: 330px;
    margin: 0 auto;
}
#copyright-part .container .main p{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 22.5px;
    font-weight: 400;
    margin: 26px 0;
    text-align: center;
    color: #808080;
}
#copyright-part .container .main p i{
    color: red;
    margin: 0 2px;
}
#copyright-part .container .main p span{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 22.5px;
    font-weight: 400px;
    color: #fff;
}
/* ===================
      copyright css end
====================== */